@import url('https://fonts.googleapis.com/css2?family=Familjen+Grotesk:wght@400;600;700&family=Montserrat:wght@900&family=Open+Sans:ital,wght@0,400;0,700;1,400&family=Tektur:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

/* para incluir todos os pseudoselementos */
*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Familjen Grotesk', sans-serif;
    background: #000;
    color: #fff;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: #fff;
}

ul {
    text-decoration: none;
    list-style: none;
}

@keyframes fadeInUp{
    0% {
        opacity: 0;
        transform: translateY(140px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/*header e navbar */

.main-header {
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* text-transform: uppercase; */
    height: 100px;
    padding: 55px 15%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.5s;
}

.logo {
    width: 200px;
    height: auto;
    right: 40px;
    margin-top:16px;
}

.logo img{
    display: block;
    width: 140%;
    height: auto;
}

.desktop-main-menu {
    margin-right: 350px;
}

.desktop-main-menu ul{
    display: flex;
}

.desktop-main-menu ul li{
    font-family: 'Montserrat', sans-serif;
    position: relative;
    margin-right: 20px;
    padding-bottom: 2px;
    text-decoration: none;

}

.h-right {
    display: flex;
    align-items: center;
}

.h-right a{
    font-family: 'Montserrat', sans-serif;
    margin-right: 10px ;
    padding-bottom: 2px;
}

#menu-icon{
    font-size: 30px;
    cursor: pointer;
    z-index: 10001;
    display: none;
}

.desktop-main-menu ul li a::after{
    content: ' ';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: #fff;
    transform: scaleX(0);
    transition: transform 0.6s cubic-bezier(0.19,1,0.22,1);
    transform-origin: right center;
    text-decoration: none;
}

.desktop-main-menu ul li a:hover::after{
    transform: scaleX(1);
    transform-origin: left center;
    transition-duration: 0.4s;
    text-decoration: none;
}

.nav--hidden {
    transform: translateY(-200px);
    transition: transform 0.5s;
    box-shadow: none;
}

/* Background images */
section {
    padding: 70px 17% 60px;
}

.section-inner{
    position: absolute;
    display: grid;
    bottom: 200px;
    left: 300px;
    max-width: 560px;
}

.intro-img{
    position: absolute;
    top: 54%;
    left: 69%;
    transform: translate(-50%, -50%);
    
}
.intro-img img{
    max-width: 120%;
    height: auto;
}

.section-inner h4{
    font-size: 22px;
    margin-bottom: 5px;
    font-weight: 300;
    animation: fadeInUp 0.5s ease-in-out;
    animation-fill-mode: both;
}

.section-inner h2{
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 20px;
    animation: fadeInUp 0.5s ease-in-out 0.2s; 
    animation-fill-mode: both;
}

.section-a{
    /* background-image: url('../_img/paleta.png') ; */
    /* background-color: #529c44;
    background-image: linear-gradient(53deg, #529c44 0%, #13a1db 100%); */
    position: relative;
    height: 100vh;
    width: 100%;
    background-color: #f3f0e6;
    color: #088178;
    background-size: cover;
    text-transform: uppercase;
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    /* gap: 3rem; */
}

.scroll-arrow{
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    animation: fadeBounce 3.5s infinite;
}

@keyframes fadeBounce {
    0%,
    20%,
    50%,
    80%,
    100%{
        opacity: 0;
        transform: translateY(-20px);    
    }

    40% {
        opacity: 1;
        transform: translateY(0);
    }
}







.section-inner-two p{
    text-align: justify;
}

.projeto{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 9rem;
}

.projeto-img img{
    width: 120%;
    height: auto;
    /* margin-left: -50px; */
    border-radius: 10px;
}

.projeto-text h5{
    font-size: 22px;
    font-weight: 600;
    color: #ffcc47;
    text-transform: uppercase;
    letter-spacing: 6px;
    margin-bottom: 20px;
}

.projeto-text h2{
    color: #088178;
    font-size: 3rem;
    font-weight: 800;
    line-height: 1.2;
    margin-bottom: 25px;
}

.projeto-text p{
    font-size: 1rem;
    font-weight: 500;
    line-height: 25px;
    color: #96A692;
    margin-bottom: 35px;
}

.center-text {
    text-align: center;
}

.center-text h2{
    font-size: 3rem;
    font-weight: 800;
}

#imagens{
    margin-top: 0rem;
    background-color: #96A692;
    color:#ffffff;
}

.imagens-content{
    color: white;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,auto));
    align-items: center;
    gap: 3rem;
    margin-top: 4rem;
}

.box{
    position: relative;
}

.box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    filter: brightness(70%);
    transition: all .3s cubic-bezier(.499,.05,.55,.95);
    will-change: filter;
    display: block;
}

.box h6{
    position: absolute;
    left: 25px;
    bottom: 95px;
    font-size: 18px;
}

.box h4{
    position: absolute;
    left: 25px;
    bottom: 65px;
    font-size: 20px;
    font-weight: 700;
}

.box img:hover{
    filter: brightness(90%) hue-rotate(50deg);
    transform: scale(1.04);
    cursor: pointer;
}


.aplicativo{
    background-color: #f3f9f6;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 6.5rem;
}

.aplicativo-img img{
    width: 90%;
    height: auto;
    /* margin-left: -50px; */
    border-radius: 10px;
}

.aplicativo-text h5{
    font-size: 22px;
    font-weight: 600;
    color: #ffcc47;
    text-transform: uppercase;
    letter-spacing: 6px;
    margin-bottom: 20px;
}

.aplicativo-text h2{
    color: #088178;
    font-size: 3rem;
    font-weight: 800;
    line-height: 1.2;
    margin-bottom: 25px;
}

.aplicativo-text p{
    font-size: 1rem;
    font-weight: 500;
    line-height: 25px;
    color: #96A692;
    margin-bottom: 35px;
}



.teste{
    margin-right: 35px;
    height: 104vh;
    width: 104vw;
    background-color: #f8f8f8;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: top;
    /* gap:rem; */
    
}

.teste-img img{
    box-shadow: .5rem  .5rem .3rem 1px rgba(0, 0, 0, 0.05);
    width: 80%;
    height: auto;
    /* margin-left: -50px; */
    border-radius: 10px;
}

.teste-text h5{
    font-size: 22px;
    font-weight: 600;
    color: #ffcc47;
    text-transform: uppercase;
    letter-spacing: 6px;
    margin-bottom: 15px;
    margin-top: 50px;
}

.teste-text h2{
    color: #088178;
    font-size: 3rem;
    font-weight: 800;
    line-height: 1.2;
    margin-bottom: 20px;
}

.teste-text p{
    font-size: 1rem;
    font-weight: 500;
    line-height: 25px;
    color: #96A692;
    margin-bottom: 35px;
}

.teste-feature-content{
    width: 1080px;
    height: 250px;
    position: absolute;
    display: flex;
    grid-template-columns: repeat(auto-fit,minmax(450px,auto));
    align-items: center;
    text-align: center;
    gap:3rem;
    background-color: rgba(255, 255, 255, 0.807);
    box-shadow: .5rem  .5rem .3rem 1px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    margin-top: 390px;
    margin-left: 140px;
}

.teste-row-img{
    overflow: hidden;
    width: 50px;
    height: 50px;
    margin:10 auto;
    margin-top: 0px;
    margin-left: 18px;
    /* border-radius: 50%; */
    cursor: pointer;
    
}

.teste-feature-content h4{
    margin-left: 0px;
    margin-top: 10px;
    color: #088178;
    text-align: left;
}


.teste-feature-content p{
    font-size: 14px;
    font-weight: 500;
    line-height: 25px;
    color: #507147;    
    text-align: left;
    word-break:  break-word ;
}


.teste-texto-1{
    margin-bottom: 50px;
    margin-left: 25px;
    height: 100px;
    width: 100px;
}

.teste-row-img img{
    background-color: #0D80BF;
    width: 100%;
    display: block;
    transition: transform 0.7s;
    border-radius: 20%;
}

.teste-row-img img:hover{
    transform: scale(1,2);
}

.teste-left{
    margin-left: 80px;
}

.teste-left-image{
    margin-left: 0px;
}

.ult-img{
    margin-left: 40px;
}
